body {
background-color: pink;
}

h1 {
    color: yellowgreen;
}

p {
    color: yellowgreen;
}


/* Farver til links*/

a {
    color: yellowgreen;
}

a:link {
    color: yellowgreen;
}

a:hover {
    color: white;
}

a:active {
    color: purple;
}

img {
    max-height: 100%;
    height: auto;
}

.div { 
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}
